# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
out
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Electron-builder
dist
dist-native
release

# Vite
.vite-inspect

# macOS
.DS_Store

.npmrc
.playwright-mcp/page-2026-07-18T20-27-09-682Z.png
.playwright-mcp/page-2026-07-18T20-27-30-442Z.yml
.playwright-mcp/page-2026-07-18T20-28-21-488Z.png
.playwright-mcp/page-2026-07-18T20-28-37-637Z.yml
.playwright-mcp/page-2026-07-18T20-29-00-648Z.yml
.playwright-mcp/page-2026-07-18T20-29-06-561Z.png
.playwright-mcp/page-2026-07-18T20-29-30-963Z.png
.playwright-mcp/page-2026-07-18T20-30-00-042Z.yml
.playwright-mcp/page-2026-07-18T20-30-13-245Z.png
.playwright-mcp/page-2026-07-18T20-33-32-651Z.png
.playwright-mcp/page-2026-07-18T20-35-28-430Z.png
.playwright-mcp/page-2026-07-18T21-05-49-608Z.yml
.playwright-mcp/page-2026-07-18T21-06-19-346Z.yml
.playwright-mcp/page-2026-07-18T21-06-51-089Z.yml
.playwright-mcp/page-2026-07-18T21-07-01-786Z.yml
.playwright-mcp/page-2026-07-18T21-07-06-202Z.yml
